{% extends 'base.html.twig' %}

{% block title %}
	Contatos
{% endblock %}

{% block body %}
  <h2>Contatos</h2>

  <div class="row">
    <a class="btn btn-primary" href="/contatos/create">Criar</a>
  </div>

  <div class="row" ng-controller="listaContatosController">
    <table class="table table-striped table-hovered">
    	<thead>
    		<tr>
    			<th>Nome</th>
    			<th>E-mail</th>
    			<th>Telefone</th>
          <th>Ações</th>
    		</tr>
    	</thead>
    	<tbody>
        <tr ng-repeat="contato in contatos">
          <td>{{'{{ contato.nome }}'}}</td>
          <td>{{'{{ contato.email }}'}}</td>
          <td>{{'{{ contato.telefone }}'}}</td>
          <td>
            <a href="/contatos/{{'{{ contato.id }}'}}/edit" class="btn btn-sm btn-primary">Editar</a>
            <a href="/contatos/{{'{{ contato.id }}'}}/destroy" onclick="return confirm('Confirma exclusão deste registro? Não poderá ser desfeito!')" class="btn btn-sm btn-danger">Remover</a>
          </td>
        </tr>
    	</tbody>
    </table>
  </div>
{% endblock %}